{% extends "quoteapp/base.html" %} {% load extract_tags %}

{% block content %}
<h3>Viewing tag: <a href="{% url 'quoteapp:find_quotes_by_tag' viewing_tag.name %}"> {{ viewing_tag.name}}</a></h3>
{% for quote in quotes %}
<ul>
    <li>
        <p>{{ quote.quote }}</p>
        <p>
            by <b>{{quote.author}}</b>
            <a
            href="{% url 'quoteapp:detail' quote.author.fullname %}"
            >(about)</a
            >
      </p>
      <p>Tags:
        <small>
          {% for tag in quote.tags|tags %}
            <a href="{% url 'quoteapp:find_quotes_by_tag' tag.name %}"> {{ tag.name }}</a>,
          {% endfor %}
        </small></p>
    </li>
  </ul>
{% endfor %}
{% endblock %}
